{% load gallery_tags wagtailcore_tags wagtailimages_tags %}
{% for page in pages %}
    <div class="row">
    <h2>{{ page.title }}</h2>
    {% for img in page.gallerypage.gallery %}
        {% if forloop.counter0 < 4 %}
            {% image img.value.image height-200 as thumbnail %}
            {% image img.value.image original as original %}
            <div class="col-md-3">
            {% if forloop.counter == 4 %}
                <a href="{% pageurl page %}" class="thumbnail">
{#                    <div style="background-image: url({{ thumbnail.url }});" class="overlay-more"></div>#}
                    <div class="to-gallery">
                        <img src="{{ thumbnail.url }}" alt="{{ img.value.alt }}">
                        <p>More...</p>
                    </div>
                </a>
            {% else %}
                <a href="{{ original.url }}" class="thumbnail" data-lightbox="gallery" data-title="{{ img.value.summary }}">
                    <img src="{{ thumbnail.url }}" alt="{{ img.value.alt }}">
                </a>
            {% endif %}
            </div>
        {% elif forloop.counter >= 5 %} {# do nothing #}
        {% endif %}
    {% endfor %}
    </div>
    <hr>
{% endfor %}
